[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
YouTubeChannelToPlaylist = {git = "https://github.com/RobbieClarken/youtube-channel-to-playlist"}

[dev-packages]
"e1839a8" = {path = ".", editable = true}
black = "==18.6b4"

[requires]
python_version = "3.7"
